page-forestal {
   
   .titulo{
     font-family: "Comic Sans MS", cursive, serif;
   }
   .menuForestal{
 	   background-image: url("../../assets/icon/planta.ico");
     background-color: #D8E4FC;
     background-repeat: no-repeat;
     background-position: center;
   }
   .actions{
 	   text-align: right;
 	   margin-top: 20px;
   }
   ion-input{
     color: black;
     font-family: "Comic Sans MS", cursive, serif;
     font-size: 1.4em;
   }
}
