page-suelo {

	 .titulo{
     font-family: "Comic Sans MS", cursive, serif;
   }
   .menuSuelo{
     background-image: url("../../assets/icon/suelo.ico");
     background-color: #D8E4FC;
     background-repeat: no-repeat;
     background-position: center;
   }
   .actions{
   	 text-align: right;
   	 margin-top: 20px;
   }
   ion-input, ion-select{
     color: black;
     font-family: "Comic Sans MS", cursive, serif;
     font-size: 1.4em;
   }
}
