page-home {
   
   ion-list{
     color: black;
     font-family: "Comic Sans MS", cursive, serif;
     font-size: 1.3em;
   }
   ion-list-header{
   	 text-align: center;
     font-size: 1.5em;
   }
   ion-toolbar{
   	 text-align: center;
   	 font-family: "Comic Sans MS", cursive, serif;
   }
}
