page-agua {

   .titulo{
       font-family: "Comic Sans MS", cursive, serif;
       text-align: center;
   }
   .menuAgua{
   	   background-image: url("../../assets/img/logo_principal.png");
       background-color: #D9D9FC;
       background-repeat: no-repeat;
       background-position: center;
   }
   .actions{
   	   text-align: right;
   	   margin-top: 20px;
   }
   ion-label, ion-input{
     color: black;
   }
}
