page-historial {
   
   .tituloP{
     font-family: "Comic Sans MS", cursive, serif;
     letter-spacing: 0;
     text-shadow: -2px -2px 2px #227F36,
                   2px -2px 2px #227F36, 
                  -2px 2px 2px #227F36,
                   2px 2px 2px #227F36;
   }

   .menuPrincipal{
     background-image: url("../../assets/img/degradado2.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }
}
