<ion-header>
   <ion-navbar color="primary">
     <button ion-button menuToggle icon-only> <ion-icon name='menu'></ion-icon></button>
     <ion-title class="tituloP">Historial</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="menuPrincipal">

   <ion-item-group>

     <ion-item-divider color="agua"><ion-icon name="color-wand"></ion-icon><b> Calidad de agua</b></ion-item-divider>
     <ion-list *ngFor="let listado of listAgua">
       <ion-item-sliding>
         <button ion-item (click)="goToDetalles(listado,1)"> <ion-icon name="eye"></ion-icon> {{listado.titulo}}
               <ion-icon item-end name="arrow-back"></ion-icon></button>

         <ion-item-options side="right">
           <button ion-button icon-only (click)="delete(listado,1)"><ion-icon name="md-trash"></ion-icon></button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>

     <ion-item-divider color="aire"><ion-icon name="color-wand"></ion-icon><b> Calidad del aire</b></ion-item-divider>
     <ion-list *ngFor="let listado of listAire">
       <ion-item-sliding>
         <button ion-item (click)="goToDetalles(listado,2)"> <ion-icon name="eye"></ion-icon> {{listado.titulo}} 
               <ion-icon item-end name="arrow-back"></ion-icon></button>

         <ion-item-options side="right">
           <button ion-button icon-only (click)="delete(listado,2)"><ion-icon name="md-trash"></ion-icon></button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>

     <ion-item-divider color="forestal"><ion-icon name="color-wand"></ion-icon><b> Indice forestal</b></ion-item-divider>
     <ion-list *ngFor="let listado of listForestal">
       <ion-item-sliding>
         <button ion-item (click)="goToDetalles(listado,3)"> <ion-icon name="eye"></ion-icon> {{listado.titulo}}
               <ion-icon item-end name="arrow-back"></ion-icon></button>

         <ion-item-options side="right">
           <button ion-button icon-only (click)="delete(listado,3)"><ion-icon name="md-trash"></ion-icon></button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>

     <ion-item-divider color="suelo"><ion-icon name="color-wand"></ion-icon><b> Terreno</b></ion-item-divider>
     <ion-list *ngFor="let listado of listSuelo">
       <ion-item-sliding>
         <button ion-item (click)="goToDetalles(listado,4)"> <ion-icon name="eye"></ion-icon> {{listado.titulo}}
               <ion-icon item-end name="arrow-back"></ion-icon></button>

         <ion-item-options side="right">
           <button ion-button icon-only (click)="delete(listado,4)"><ion-icon name="md-trash"></ion-icon></button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>

   </ion-item-group>

</ion-content>
